<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Zen To Do</title>
    
</head>
<body>
    <div class="container section">
        <a id="login-trigger" class="waves-effect waves-light btn modal-trigger" href="#login-modal">Login</a>
        <a id="signup-trigger" class="waves-effect waves-light btn modal-trigger" href="#signup-modal">Signup</a>
        <a class="waves-effect waves-green btn" href="api/users/logout" >Logout</a> 
    </div>
     <!-- Login Modal  -->
    <div id="login-modal" class="modal">
        <div class="modal-content">
            <h4>Login</h4>
            <form id="login-form" action="/api/users/login" method="post">
                <input placeholder="Username" name="username" type="text" class="validate">
                <input  placeholder="Password" name="password" type="password" class="validate">  
                <div class="modal-footer">
                    <Button class="modal-close waves-effect waves-green btn" type="submit">Login</button>
                </div>
            </form>
         </div>
    </div>
           <!-- Sign Up Modal  -->
    <div id="signup-modal" class="modal">
        <div class="modal-content">
            <h4>Sign Up</h4>
            <form id="signup-form" action="/api/users" method="post">
                <input placeholder="Username"  name="username" type="text" class="validate">
                <input  placeholder="Password"  name="password" type="password" class="validate">  
                <div class="modal-footer">
                    <Button class="modal-close waves-effect waves-green btn" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>

    <header class="container section center-align">
            <h1 class="section">My To Do List</h1>
            <div class="quote">
                    <a id="new-quote" class="section waves-effect cyan waves-light btn"><i class="material-icons left">whatshot</i>Inspire Me</a>
            </div>
            
    </header>
<section class="container input-field">
        <i class="small material-icons prefix">assignment</i>
    <input type="text" class="autocomplete" id="todoInput" placeholder="What do you need to do?">
</section>

<ul class="list section container">
</ul>

<script type="text/javascript" src="app.js"></script>
</body>
</html>